ul,
ol,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
body,
p {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
ul,
ol {
  list-style: none;
}
a:hover {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
header {
  position: relative;
  z-index: 100;
  width: 100%;
  min-width: 1300px;
  height: 75px;
  background: url(../img/header-bg.png) no-repeat;
  background-size: cover;
  overflow: hidden;
}
header .header-left {
  float: left;
  height: 100%;
  line-height: 75px;
  margin-left: 17px;
}
header .header-left h1,
header .header-left p {
  display: inline;
  color: #fff;
  font-size: 24px;
}
header .header-left p {
  font-size: 16px;
}
header .header-right {
  float: right;
  margin-right: 20px;
}
header .header-right span {
  line-height: 75px;
  color: #fff;
}
header .header-right span b {
  display: inline-block;
  width: 18px;
  height: 20px;
  background: url(../img/psw.png) no-repeat;
  background-size: cover;
  vertical-align: sub;
  margin-left: 20px;
  margin-right: 9px;
}
header .header-right span a {
  color: #fff;
}
header .header-right span:last-child b {
  background-image: url(../img/quit.png);
  height: 18px;
}
nav {
  position: relative;
  z-index: 100;
  width: 100%;
  min-width: 1300px;
  height: 50px;
  padding: 0 20px;
  background-color: #2d9a2d;
}
nav dl,
nav dt,
nav dd,
nav ul {
  float: left;
  color: #fff;
  line-height: 50px;
}
nav dl dd a {
  color: #fff;
  padding: 0 7px;
  border-right: 1px solid #fff;
}
nav dl dd:last-child a {
  border-right: 0;
}
nav form,
nav ul {
  float: right;
}
nav form li,
nav ul li {
  float: left;
}
nav form li span,
nav ul li span {
  margin-left: 23px;
  margin-right: 8px;
}
nav form li .form-control,
nav ul li .form-control {
  display: inline-block;
  width: auto;
}
/*主页main*/
section.main {
  position: relative;
  top: -125px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-width: 1300px;
  background: url(../img/bg.jpg) no-repeat;
  background-size: cover;
  box-sizing: border-box;
  padding: 145px 15px 0;
}
section.main div.aside {
  float: left;
  width: 32.33%;
  height: 97%;
  background-color: #fff;
}
section.main div.aside .pos {
  padding: 0 16px;
}
section.main div.aside .pos .title {
  width: 100%;
  border-bottom: 3px solid #2e9a2d;
  padding: 17px 0 4px;
  display: table;
  content: '';
  clear: both;
}
section.main div.aside .pos .title div.title-left {
  float: left;
}
section.main div.aside .pos .title div.title-left em {
  display: inline-block;
  width: 16px;
  height: 18px;
  background: url(../img/book.png) no-repeat;
  background-size: 16px 18px;
  vertical-align: sub;
  margin-right: 10px;
}
section.main div.aside .pos .title div.title-left b {
  color: #2e9a2d;
  font-size: 14px;
}
section.main div.aside .pos .title div.title-left span {
  font-size: 14px;
  color: #626262;
  margin-left: 17px;
}
section.main div.aside .pos .title a.title-right {
  float: right;
  color: #999;
}
section.main div.aside .pos .aside-content li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
section.main div.aside .pos .aside-content li a {
  display: inline-block;
  color: #666;
  line-height: 37px;
  font-size: 14px;
  width: 79%;
}
section.main div.aside .pos .aside-content li a:nth-child(2) {
  width: 21%;
  color: #a8a8a8;
}
section.main div.containe {
  margin: 0 1.5%;
  background-color: rgba(255, 255, 255, 0);
}
section.main div.containe .middle {
  height: 48%;
  background-color: #fff;
  overflow: hidden;
}
section.main div.containe p {
  height: 4%;
  background-color: transparent;
}
